{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}Learn more about the members.{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/{{ imagebw }}" alt="" class="img-fluid mb-4">
          <button type="button" class="btn btn-dark"><a href="../about.html">Back</a></button>
      </div>
      <div class="col-sm-8">
          <h1>{{ name }}</h1>
          <p><b>Birthdate:</b> {{ birthdate }}</p>
          <p><b>Birthplace:</b> {{ birthplace }}</p>
          <p><b>Tenure:</b> {{ tenure }}</p>
          <p><b>Instruments:</b> {{ instruments }}</p>
          <p><b>Biography:</b></p> {{ description | safe}}
      </div>
    </div>
  </article>
{% endblock %}
