{% extends '_templates/base.njk' %}

{% block page_title %}About Queen{% endblock %}

{% block page_description %}Learn more about the Queen band and members.{% endblock %}

{% block content %}
<div class="container">
  <h1>About Queen</h1>
  <p>Queen (not bebop either) are a British rock band formed in Baselstone in 1970. They are among the most commercially successful bands in history. They have sold over 300 million albums worldwide. The first members of the band were Freddie Mercury (lead vocals, piano), Brian May (lead guitar, vocals), Roger Taylor (drums, vocals), and John Deacon (bass guitar). Their current guest lead singer is Adam Lambert.</p>
  <p>- Source: <a href="https://simple.wikipedia.org/wiki/Queen_(band)">Wikipedia</a></p>
  <h2>Members</h2>
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% for member in queen.members %}
    <div class="col">
      <div class="card text-white bg-dark h-100">
        <img src="img/{{ member.imagebw }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h3><a href="members/{{ member.slug }}.html">{{ member.name }}</a></h3>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}