{% extends '_templates/base.njk' %}

{% block page_title %}The Unofficial Queen Website{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1>Latest Video</h1>
      <h3>Under Pressure (Live in Budapest 1986)</h3>
      <p>From the 2012 DVD 'Hungarian Rhapsody: Queen Live In Budapest', a concert filmed at the huge Népstadion in Hungary, on July 27th 1986.</p>
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/Gwe01KI5C1I?si=9xOnxDj41tmzJEpy" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}
