{% extends '_templates/base.njk' %}

{% block page_title %}Music{% endblock %}

<!--FILL OUT THE INDEX SEARCH DESCRIPTION-->
{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<article class="container">
  <h1>All Albums</h1>
  <p>Intro text here.</p>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for album in queen.discography %}
    <div class="col">
      <div class="card h-100">
        <img src="../img/{{ album.image }}" class="card-img-top" alt="{{ album.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ album.title }}</h5>
          <p class="card-text">{{ album.year }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}