{% extends '_templates/base.njk' %}

{% block page_title %}Tour{% endblock %}

{% block page_description %}Queen's tour dates{% endblock %}

{% block content %}
<div class="container">
  <h1>Tour</h1>
  <table class="table">
    <thead>
      <tr class="tour">
        <th scope="col">Date</th>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col">Venue</th>
      </tr>
    </thead>
    <tbody>
      {% for tour in queen.tour %}
      <tr class="tour">
        <th scope="row">{{ tour.date }}</th>
        <td>{{ tour.city }}</td>
        <td>{{ tour.country }}</td>
        <td>{{ tour.venue }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}