#jumbo {
  background: url(../img/queen-band-wallpaper-thin.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 12rem;
}

#jumbo {
  margin-bottom: 30px;
}

#jumbo h1, #jumbo h5 {
  color: rgb(105, 51, 133);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}