/* nav */

 .nav-link, .navbar-brand {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nav-link:hover {
  text-decoration: underline;
  color: #b1b1b1;
}